# Ignorar node_modules
/node_modules/

# Arquivos de log
logs
*.log
*.log.*

# Arquivos de configuração de ambiente
.env

# Arquivos temporários e caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de build ou dist
/dist/
/build/

# Arquivos de cobertura de testes (caso use testes automatizados)
coverage/

# Arquivos de configuração do editor
.vscode/

# Arquivos de backup de edição (ex: arquivos temporários)
*.swp
*~

# Outros arquivos sensíveis ou temporários
package-lock.json
